{% extends 'mysite/base.html' %}


{% block content %}
    <!-- Add jumbtron here -->
    <div class="jumbotron jumbotron-fluid my-4 shadow-lg bg-transparent" >
        <div class="container">
            <h1 class="display-4" style="font-family: cursive;">Hey! Learn to Code here ... </h1>
            <p class="lead">This will help you to get started in coding and you become a perfect code .</p>
            <hr class="my-4">
            <p>Let's code it together.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
     </div>
     
{% endblock content %}
    

