{% extends 'mysite/base.html' %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
{% block content %}
    <div class="row">
        <div class="container my-4 text-center">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <div class="container">
                <h1 class="display-4">Subscribe to Premium Packages</h1>
                <p class="lead">
                    ENJOY PREMIUM CONTENT AT AFFORDABLE PRICE.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="border: black!important;">
      <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h4 class="text-center">
                          Developer </h4>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead">
                          <strong>$10 (&#8377; 700)/ month</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Hd Quality</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Add free</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
                  </ul>
                  <div class="panel-footer">
                      <a class="btn btn-lg btn-block btn-info" href="#">Subscribe now!</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>
         
        
      </div>
    </div>  

    
      <br><br>
    
      <br><br>
{% endblock content %}
    
